<!DOCTYPE html>
<html>

<head>

    <title>CodeQuest - Quiz Already Attempted</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

<div class="navbar">

    <h2>CodeQuest 💻</h2>

    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>

</div>


<div class="attempted-page">

    <div class="attempted-card">

        <div class="big-check">
            ✓
        </div>

        <h1>
            Quiz Already Attempted
        </h1>

        <p class="attempted-message">
            You have already attempted this quiz.
        </p>

        <p class="attempted-submessage">
            Each quiz can only be attempted once.
        </p>


        {% if attempt %}

        <div class="previous-score">

            <span>
                ⭐ Your Score
            </span>

            <strong>
                {{ attempt["final_score"] }}
            </strong>

        </div>

        {% endif %}


        <div class="attempted-actions">

            <a
                href="/dashboard"
                class="dashboard-btn"
            >
                ← Back to Dashboard
            </a>

        </div>

    </div>

</div>

</body>

</html>