<!DOCTYPE html>
<html>

<head>

    <title>CodeQuest - Login</title>
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body class="login-page">

<div class="login-container">

    <div class="login-card">

        <h1>CodeQuest 💻</h1>

        <p class="login-subtitle">
            Test your coding skills and build your streak 🔥
        </p>

        <h2>Welcome Back!</h2>

        {% if error %}

<div class="alert alert-error">

    <span class="alert-icon">
        ❌
    </span>

    <div>
        <strong>Login Failed</strong>

        <p>
            {{ error }}
        </p>
    </div>

</div>

{% endif %}

        <form method="post" action="/login">

            <label>
                Username
            </label>

            <input
                type="text"
                name="username"
                placeholder="Enter your username"
                required
            >

            <br>

            <label>
                Password
            </label>

            <input
                type="password"
                name="password"
                placeholder="Enter your password"
                required
            >

            <br>

            <button type="submit">
                Login
            </button>

        </form>

       

    </div>

</div>

</body>

</html>